.error-area {
    padding: 100px 0 0 0; 
    margin: 0 auto;
    width: fit-content; 
    text-align: center;

    &__h1 {
        font-size: 150px;

        &-four {
            color: #270f20;
        }

        &-zero {
            color: #aa468e !important;
        }
    }

    &__title {
        font-weight: 500;
    }
}

@media screen and (min-width: 767.98px) and (max-width: 1199.98px) {
    .error-area {
        &__h1 { font-size: 300px }
    }
}

@media screen and (min-width: 1200.98px) {
    .error-area {
        &__h1 { font-size: 350px }
    }
}